@font-face {
	font-family: RobotoLight;
	src: url('Fonts/RobotoLight/RobotoLight.eot'), url('Fonts/RobotoLight/RobotoLight.ttf') format('truetype'), url('Fonts/RobotoLight/RobotoLight.woff');
}

/* vertical menu */
.leftNavBar .iJQMenu_vert{}
.leftNavBar .iJQMenu_vert ul{padding:0;}
.leftNavBar .iJQMenu_vert li{list-style:none; }
.leftNavBar .iJQMenu_vert ul.root li ul{display: none;position: absolute;top: 0;left: 100%;}
.leftNavBar .iJQMenu_vert ul.root li{/* float: left; */margin: 2px 0;}
.leftNavBar .iJQMenu_vert ul.root li:first-child{/* margin-top:0; */}
.leftNavBar .iJQMenu_vert ul.root li a {display: block;padding: 8px 15px 8px 65px;text-decoration: none;background: #0095b8;text-transform: uppercase;color: #fff;font-family: RobotoMedium;-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear;} 

.leftNavBar .iJQMenu_vert ul.root li > span  span{display: block;cursor:default;}

.leftNavBar .iJQMenu_vert ul.root li:first-child a {background: #0095b8 url(images/1ob.png) no-repeat 9% 50%;}
.leftNavBar .iJQMenu_vert ul.root li:first-child:hover a{background: #f5f5f5 url(images/1.png) no-repeat 9% 50%;color:#0095b8;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(3) a {background: #0095b8 url(images/2ob.png) no-repeat 9% 50%;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(3):hover a{background: #f5f5f5 url(images/2.png) no-repeat 9% 50%;color:#0095b8;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(5) a {background: #0095b8 url(images/6ob.png) no-repeat 9% 50%;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(5):hover a{background: #f5f5f5 url(images/6.png) no-repeat 9% 50%; color:#0095b8;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(7) a {background: #0095b8 url(images/3ob.png) no-repeat 9% 50%;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(7):hover a{background: #f5f5f5 url(images/3.png) no-repeat 9% 50%; color:#0095b8;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(9) a {background: #0095b8 url(images/4ob.png) no-repeat 9% 50%;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(9):hover a{background: #f5f5f5 url(images/4.png) no-repeat 9% 50%; color:#0095b8;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(11) a {background: #0095b8 url(images/5ob.png) no-repeat 9% 50%;}
.leftNavBar .iJQMenu_vert ul.root li:nth-child(11):hover a{background: #f5f5f5 url(images/5.png) no-repeat 9% 50%; color:#0095b8;}

.leftNavBar .iJQMenu_vert ul.root li:hover ul{display: block;}
.leftNavBar .iJQMenu_vert ul.root li ul li { float: none;}
.leftNavBar .iJQMenu_vert .sep{float: left; display: none;}

footer .iJQMenu_vert{  font-family: RobotoLight;}
footer .iJQMenu_vert ul{padding:0;}
footer .iJQMenu_vert li{list-style:none; }
footer .iJQMenu_vert ul.root li ul{display: none;position: absolute;top: 0;left: 100%;}
footer .iJQMenu_vert ul.root li{/* float: left; */margin: 2px 0;}
footer .iJQMenu_vert ul.root li a  {font-size:10pt;display: block;padding: 4px 0;text-decoration: none;text-transform: uppercase;color: #fff;font-family: RobotoMedium;-moz-transition:0.2s linear;-o-transition:0.2s linear;-webkit-transition:0.2s linear;transition:0.2s linear;} 
footer #mmBt2_pMenu .iJQMenu_vert ul.root li a { text-transform: none;}
footer .iJQMenu_vert ul.root li > span  span{display: block;cursor:default;}
footer .iJQMenu_vert ul.root li a:hover ,footer .iJQMenu_vert ul.root li a.active { color:#99d5e2;}

footer .iJQMenu_vert ul.root li:hover ul{display: block;}
footer .iJQMenu_vert ul.root li ul li { float: none;}
footer .iJQMenu_vert .sep{float: left; display: none;}

form{margin:0 !important; }





/* horizontal menu */
.iJQMenu_horiz{} 
.iJQMenu_horiz ul{padding:0;margin: 0;overflow: hidden;}
.iJQMenu_horiz li{list-style:none; }
.iJQMenu_horiz ul.root li ul{display: none;position: absolute;top: 100%;left: 0;width: 200px;}
.iJQMenu_horiz ul.root li{float: left;padding: 5px 10px;position: relative;width: auto; }
.iJQMenu_horiz ul.root li:hover:after,.iJQMenu_horiz ul.root li.active:after  { position:absolute; bottom:0; left:50%; content:''; border:8px solid transparent; border-bottom:8px solid #fff; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%);}

.iJQMenu_horiz ul.root li a {display: block;padding: 24px 14px;text-decoration: none;color:#FFF;font-size:12pt;text-transform: uppercase;}
.iJQMenu_horiz ul.root li > span  span{display: block;cursor:default;}
.iJQMenu_horiz ul.root li a.active{color: #fff;}
.iJQMenu_horiz ul.root li a:HOVER {color:#ccc;}
    
.iJQMenu_horiz ul.root li:hover ul{display: block;}
.iJQMenu_horiz ul.root li ul li { float: none;}

.iJQMenu_horiz .sep{float: left; display: none;}



/*==================  Stuck menu  ======================*/
.stuck_container { background:#0095b7;}
.isStuck {
  z-index: 999;
  height: 75px;
  background: #444;
  border-bottom: 1px solid #333333;
}
.isStuck #gotomain {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  height: 75px;
  display: table-cell;
  vertical-align: middle;
}
.isStuck #gotomain:after {
  width: 160%;
}
.isStuck #gotomain a {
  font-size: 57px;
}
.isStuck #gotomain a:before {
  left: 65px;
  background-size: 18%;
}
.isStuck nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.isStuck .sf-menu {
  display: table-cell;
  vertical-align: middle;
  height: 75px;
}
.isStuck .sf-menu li > a {
  color: #fff;
}
.isStuck .sf-menu li > a:hover {
  color: #f73a3a;
}
.isStuck .sf-menu .active > a {
  color: #f73a3a;
}


@media (max-width:768px){
nav.menu{display:none;}
}
/*==================  RD Parallax    ======================*/
.parallax {
  position: relative;
  overflow: hidden;
}
.parallax_image,
.parallax_pattern {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-position: center center;
  will-change: transform;
}
.parallax_image {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax_pattern {
  background-repeat: repeat;
}
.parallax_cnt {
  position: relative;
}
.parallax a.link {
  text-decoration: underline;
}
/*==================   RD Mobile Menu    =====================*/
.rd-mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999999;
  text-align: left;
  -moz-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.rd-mobilemenu.active {
  right: 0;
}
.rd-mobilemenu_ul {
  position: fixed;
  top: -56px;
  left: 0;
  bottom: -56px;
  width: 240px;
  padding: 132px 0 76px;
  color: #666666;
  background: rgba(255, 255, 255, 0.97);
  font-size: 14px;
  line-height: 20px;
  overflow: auto;
  -moz-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.1);
  -moz-transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -o-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transform: translateX(-240px);
  -moz-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}
.lt-ie9 .rd-mobilemenu_ul {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff');
  zoom: 1;
}
.rd-mobilemenu.active .rd-mobilemenu_ul {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.rd-mobilemenu_ul li.active > a {
  background: #1390ff;
  color: #ffffff;
}
.rd-mobilemenu_ul a {
  display: block;
  padding: 14px 25px 16px;
}
.rd-mobilemenu_ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul a:hover {
  background: #1390ff;
  color: #ffffff;
}
.rd-mobilemenu_ul a .rd-submenu-toggle {
  position: absolute;
  top: 50%;
  right: 11px;
  margin-top: -17.5px;
  width: 32px;
  height: 32px;
  font: 400 10px 'FontAwesome';
  line-height: 32px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #000000;
  -moz-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}
.rd-mobilemenu_ul a .rd-submenu-toggle:after {
  content: '\f078';
}
.rd-mobilemenu_ul a .rd-submenu-toggle:hover {
  background: #ffffff;
  color: #666666;
}
.rd-mobilemenu_ul a.rd-with-ul {
  position: relative;
}
.rd-mobilemenu_ul a.rd-with-ul.active .rd-submenu-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rd-mobilemenu_ul ul a {
  padding-left: 40px;
  border: none;
  padding-top: 14px;
  padding-bottom: 16px;
}
.rd-mobilemenu_ul ul ul {
  border: none;
  box-shadow: none;
  background: transparent;
  padding: 0;
  left: 0;
  top: 0;
  text-align: left;
  transform: none;
}
.rd-mobilemenu_ul ul ul:before,
.rd-mobilemenu_ul ul ul:after {
  display: none;
}
.rd-mobilemenu_ul ul ul li {
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a {
  padding: 0;
  margin: 0;
  padding-left: 60px;
  color: inherit;
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 16px;
  border: none;
  box-shadow: none;
}
.rd-mobilemenu_ul ul ul a.active {
  background: #f5f5f5;
  color: #2d2d2d;
}
.rd-mobilemenu_ul ul ul a:hover {
  background: #1390ff;
  color: #ffffff;
}
.rd-mobilemenu_ul:after {
  content: '';
  display: block;
  height: 20px;
}
.rd-mobilepanel {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  background: #ffffff;
  color: #000000;
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  z-index: 99999991;
}
.rd-mobilepanel_title {
  position: fixed;
  padding-left: 10px;
  top: 4px;
  left: 56px;
  right: 56px;
  color: #000000;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 1.2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}
.rd-mobilepanel_title small {
  display: none;
}
.rd-mobilepanel_toggle {
  position: fixed;
  top: 4px;
  left: 8px;
  width: 48px;
  height: 48px;
  background-color: #f7f7f7;
  border-color: transparent;
  outline: none;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.rd-mobilepanel_toggle span {
  position: relative;
  display: block;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.rd-mobilepanel_toggle span:after {
  top: 8px;
}
.rd-mobilepanel_toggle span:after,
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span {
  width: 24px;
  height: 4px;
  background-color: #000000;
  backface-visibility: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.rd-mobilepanel_toggle span:before,
.rd-mobilepanel_toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.rd-mobilepanel_toggle.active span {
  transition: background .3s 0s ease;
  background: transparent;
}
.rd-mobilepanel_toggle.active span:before,
.rd-mobilepanel_toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
.rd-mobilepanel_toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.rd-mobilepanel_toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  body {
    padding-top: 56px;
  }
  .rd-mobilemenu,
  .rd-mobilepanel {
    display: block;
  }
}
@media (max-width: 359px) {
  .rd-mobilepanel_title {
    font-size: 18px;
  }
}